.hero-code
  .hero-inner
    %a.hero-logo{:href => "/"}
      %img{:alt => "Logo Image", :src => "https://s-media-cache-ak0.pinimg.com/236x/56/e6/10/56e61018f8aefc4ed65bd7f88f1a7af4.jpg\r\n"}/
    .hero-copy
      %h1 CODE OF CONDUCT
      %p What. Where. How.
      

%h1

%h1

%h1 

.scroll-on-page
  %aside#scroll-on-page-top
    %a.scroll-on-page-link{:href => "#scroll-link-1"} What's in 'The Code'?
    %a.scroll-on-page-link{:href => "#scroll-link-2"} Gatherings w/ The Code
    %a.scroll-on-page-link{:href => "#scroll-link-3"} Need Help Building Yours?
  %article
    %section
      %h4#scroll-link-1 'The CODE'
      %h5 adapted from <a href="http://codemanifesto.com">'The Code Manifesto'<a>
      %p We want to work in an ecosystem that empowers developers and other tech members to reach their potential--one that encourages professional growth and effective collaboration. A space that is safe for all.  A space such as this benefits everyone that participates in it. It encourages new people to enter our field. It is through discussion and collaboration that we grow, and through growth that we improve.
      %p In short, the code of conduct covers what your organization embraces (and also doesn't tolerate) at your gathering or on your networking site. Some may also list procedures that will take place if anyone violates this code.  But in many cases, it mainly serves as a statement of your organization's values and expectations for those who join.
    %section
      %h4#scroll-link-2 Nashville Tech Examples
      %h5  Meet Ups
      %li  Nashville Women Programmers:
      %p   They utilize the diversity policy as created by <a href="http://www.lambdajam.com/policies/">Lambda Jam.</a>
      %h5  Conferences/Events in Nashville
      %li  CodeConf:
      %p  Their Code of Conduct can be found <a href="http://codeconf.com/codeofconduct.html"> here.</a>
      %li Pandoland 2015
      %p  Their event's Code of Conduct can be found <a href="http://www.pandoland2015.com/conduct/">here.</a>

    %section
      %h4#scroll-link-3 Resources to Get Your Organization Started!
      %p Many organizations and events often adapt an existing code of conduct that's readily available. Regardless of the size of the gathering (from smaller workshops to large conferences), having a code of conduct simply sets the standard for all of us.  Here are some options that you might consider:
      %li <a href="http://confcodeofconduct.com/">Conf Code of Conduct</a> is an open-source document, for anyone to use.
      %li <a href="http://emberjs.com/guidelines/">The EmberJS Community</a> has a policy that was patterned after several code of conducts.
      %li <a href="https://github.com/python/pycon-code-of-conduct/blob/master/code_of_conduct.md">Python Community's PyCon Code of Conduct</a> is also a good example of a code of conduct for any event. 
      %a.scroll-on-page-link{:href => "#scroll-on-page-top"} Back to top


= render 'layouts/footer'
