.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\r\n"}/
    .hero-copy
      %h1 WE ARE #NASHTECHUNITED.
      %p Will you join up and take the pledge?

= button_to "Sign Up", new_user_registration_path, method: :get
= link_to "Signout", destroy_user_session_path, method: :delete

%h1{style:'text-align:center;'} What does it mean to be 'NashTechUnited'?

.cards
  .card
    .card-image
      %img{:alt => "", :src => "https://pbs.twimg.com/media/CHogFKiVAAA5bHz.jpg"}/
    .card-header
      Nashville
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
  .card
    .card-image
      %img{:alt => "", :src => "https://pbs.twimg.com/media/CEAIgs_VEAAfdMO.jpg"}/
    .card-header
      Tech
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
  .card
    .card-image
      %img{:alt => "", :src => "https://pbs.twimg.com/media/CEHxzHOUUAA2eIL.jpg"}/
    .card-header
      United
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
